<div class="d-flex align-items-center justify-content-center">
    <h1>Your Collections</h1>
</div>
<br>
<div class="container">
    <div class="row transformPage">
    <%if Current.user.id != nil %>
        <% @collections.each do |collection|%>
        
            <%if collection.user_id == Current.user.id %>
                <div class="col-md-4">
                    <div class="collections-font-Description-H">
                        <p><h2><em><%= link_to collection.Title, collection, class: "nav-link" %></em></h2></p>
                    </div>
                    <br>
                    <%= link_to image_tag(collection.image, style: 'width: 50%'), collection %>
                </div>
                <%elsif collection.user_id != Current.user.id %>
                <%next %>
            <%end %>
        <%end %>
    <%end %>
    </div>
    <br>
</div>
<br>
<div class="transformPage">
<%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>