<div class="d-flex align-items-center justify-content-center">
    <h1>Your Collections</h1>
</div>
<br>
<div class="container">
    <div class="row">
    <% @collections.each do |collection|%>
        <%if Current.user.id != nil %>
        <%if collection.user_id == Current.user.id %>
            <div class="col-md-4">
            <div class="collections-font-Description-H">
            <p><h2><em><%= link_to collection.Title, collection, class: "nav-link" %></em></h2></p>
            </div>
            <br>
            <%= link_to image_tag(collection.image, style: 'width: 80%'), collection %>
            </div>
        <%end %>
        <%end %>
    <%end %>
    </div>
</div>
