<div class="d-flex align-items-center justify-content-center">
    <h1>Others Collections</h1>
</div>
<br>
<div id = "outer">
<div class = "inner"><%=button_to "Show All", others_posts_path, method: :get %></div>
</div><br>
<div class="container">
    <div class="grid-3-columns">
    <%if Current.user.id != nil %>
        <% @puser.collection.where(Private: false).each do |collection|%>
                <div class="item">
                    <div class="collections-font-Description-H">
                    <%= %>
                        <p><h2><em><%= link_to collection.title, collection, class: "nav-link" %></em></h2></p>
                    </div>
                    <br>
                    <%= link_to image_tag(collection.image, style: 'width: 50%'), collection %>
                </div>
        <%end %>
    <%end %>
    </div>
    <br>
</div>
