#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
.fit{
    display: flex;
}
.postBack{
    border: 3px solid rgb(4, 77, 4);

  }
  .transformPost{
    transform: translateX(25px);
  }
  .marginInner{
      margin: 3px;
  }
  .testBorder{
      border-collapse: collapse;
      table-layout: auto;
  }
  .item:hover{
      border: 3px solid green
  }
.grid-3-columns{
      margin: auto;
      width: min(90%);
      display:grid;
      grid-template-columns: 33% 33% 33%;
      gap: 2em
  }
